/build/
/xwin
/artifacts/
/Testing/
CMakeFiles/
CMakeUserPresets.json
CMakeLists.txt.user
compile_commands.json
.cache/
.clangd/
.xwin-cache/

.vs/
.vscode/
.idea/
cmake-build-*/
*.code-workspace

*.obj
*.o
*.pdb
*.ilk
*.tlog
*.log
*.tmp

.DS_Store
Thumbs.db
*~
*.swp
